.main1{
    text-decoration: none;
    color: #ffff;
    background-color: rgb(227, 177, 177);
    border: 1px solid transparent;
    transition: 0.5 ease;
    font-size: 18px;
    display:inline-block;
    text-align: center;
    padding:5px 20px;
}
.main1:hover{
    background-color: #ffff;
    color: #000;
}
.grid-container1{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 100px; 
    margin-top: 40px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
   
  }
  .column1 {
    background-color: rgb(140, 140, 221); 
    padding: 100px;
    color: #fff;
    text-align:center;
    padding: 0vh;
    box-shadow: 10px 4px 8px rgb(47, 47, 158); 
  }
  .column1 h1{
    color:pink;
  }
  img {
    width: 480px; 
    max-width: 100%; 
    height: 260px; 
   background-size: cover;
   
  }
  
  .main h1{
    text-align: center;
  }
  .main a{
    color:red;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    margin-top: 50px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
  }
  .column2 {
    background-color: rgb(140, 140, 221); 
    padding: 100px;
    color: #fff;
    text-align:center;
    padding: 0vh;
    box-shadow: 10px 4px 8px rgb(47, 47, 158);
  }
  .column2 h1{
    color:pink;
  }
  .grid-container3{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    margin-top: 50px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
  }
  .column3{
    background-color: rgb(140, 140, 221);; 
    padding: 100px;
    color: #fff;
    text-align:center;
    padding: 0vh;
    box-shadow: 10px 4px 8px rgb(47, 47, 158);
  }
  .column3 h1{
    color:pink;
  }
  .grid-container4{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    margin-top: 50px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
  }
  .column4{
    background-color: rgb(140, 140, 221); 
    padding: 100px;
    color: #fff;
    text-align:center;
    padding: 0vh;
    box-shadow: 10px 4px 8px rgb(47, 47, 158);
  }
  .column4 h1{
    color:pink;
  }
  .grid-container5{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    margin-top: 50px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
  }
  .column5{
    background-color: rgb(140, 140, 221); 
    padding: 100px;
    color: #fff;
    text-align:center;
    padding: 0vh;
    box-shadow: 10px 4px 8px rgb(47, 47, 158);
  }
  .column5 h1{
    color:pink;
  }
  
  .button1{
    position: absolute;
    color:grey;
  }
  .btn1{
  color: grey;
  background-color: greenyellow;
  }
  .btn1:hover{
    background-color: #fff;
    color: black;
  }
  .header1 h1{
    color:rgb(12, 12, 88);
    font-size: 6vh;
    text-shadow: 0vh 0.2vh;
  }
  .header1 p{
    text-align: center;
    color:rgb(26, 24, 24);
    font-size: 2vh;
   
  }
 